.col{
    padding-left: 0%;
}
.nav-link{
    color: black;
}
/* .btn-outline-primary
{  */
/* background-color: #fdfdfd;
color:hsl(267, 25%, 51%);
border-color: #8064A2;
}
.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active,.btn-outline-primary.active,.open.dropdown-toggle.btn-outline-primary {
background-color: #8064A2;
color:#FFF; 
border-color: #381257;
}    */
/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:#cfc7d8;
   border-color: #381257;
} */

 
