<div th:fragment="editPassenger" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-xxl">

        <div class="row">
            <div class="col-3">
                <div class="row mt-3">
                    <div class="card border-dark mb-3"
                         style="max-width: 18rem;padding-right: 0px;padding-left: 0px;">
                        <h5 class="card-header" th:text="#{admin.edit.label.info}"></h5>
                        <div class="card-body text-dark">
                            <h6 class="card-title" th:text="#{admin.passengers.label.name}"></h6>
                            <p class="card-text" th:text="${response.getPassengerDTO().getName()}"></p>

                            <h6 class="card-title" th:text="#{admin.passengers.label.surname}"></h6>
                            <p class="card-text" th:text="${response.getPassengerDTO().getSurname()}"></p>

                            <h6 class="card-title" th:text="#{admin.passengers.label.documentType}"></h6>
                            <p class="card-text"
                               th:text="${response.getPassengerDTO().getDocumentType().getType().getDisplayName()}"></p>

                            <h6 class="card-title" th:text="#{admin.passengers.label.documentSeries}"></h6>
                            <p class="card-text" th:text="${response.getPassengerDTO().getDocumentSeries()}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <th:block
                    th:if="${response.getPaymentDTOList().isEmpty() and response.getDeletedPaymentDTOList().isEmpty()}">

                <div class="col mt-3">
                    <div class="alert alert-primary" role="alert" th:text="#{admin.passengers.alert.noReceipts}"></div>

                    <form th:method="GET" th:action="return">
                        <button class="btn btn-outline-primary" type="submit"
                                th:text="#{admin.passengers.button.return}"></button>
                    </form>
                </div>
            </th:block>

            <th:block
                    th:if="${not response.getPaymentDTOList().isEmpty() or not response.getDeletedPaymentDTOList().isEmpty()}">
                <div class="col-9">
                    <div class="row mt-3">
                        <table class="table table-striped">
                            <tr>
                                <th th:text="#{admin.edit.label.state}"></th>
                                <th th:text="#{admin.edit.label.trainNumber}"></th>
                                <th th:text="#{admin.edit.label.arrival}"></th>
                                <th th:text="#{admin.edit.label.date}"></th>
                                <th th:text="#{admin.edit.label.time}"></th>
                                <th th:text="#{admin.edit.label.kilometers}"></th>
                                <th th:text="#{admin.edit.label.comfort}"></th>
                                <th th:text="#{admin.edit.label.seats}"></th>
                                <th th:text="#{admin.edit.label.price}"></th>
                                <th th:text="#{admin.edit.label.change}"></th>
                            </tr>

                            <div th:each="payment: ${response.getPaymentDTOList()}">
                                <div th:with="train=${payment.getTrainDTO()}">
                                    <tr>
                                        <td>
                                            <p class="text-primary" th:text="#{admin.edit.label.active}"></p>
                                        </td>

                                        <th:block
                                                th:include="fragment/passengerPaymentData.html::passengerPaymentData">
                                        </th:block>

                                        <td>
                                            <form th:method="GET" th:action="@{payment/__${payment.getId()}__/delete}">
                                                <button type="submit" class="btn btn-outline-danger"
                                                        th:text="#{admin.edit.button.delete}"></button>
                                            </form>
                                        </td>
                                    </tr>
                                </div>
                            </div>

                            <div th:each="payment: ${response.getDeletedPaymentDTOList()}">
                                <div th:with="train=${payment.getTrainDTO()}">
                                    <tr>
                                        <td>
                                            <p class="text-secondary" th:text="#{admin.edit.label.deleted}"></p>
                                        </td>

                                        <th:block
                                                th:include="fragment/passengerPaymentData.html::passengerPaymentData">
                                        </th:block>

                                        <td>
                                            <form th:method="GET" th:action="@{payment/__${payment.getId()}__/restore}">
                                                <button type="submit" class="btn btn-outline-success"
                                                        th:text="#{admin.edit.button.restore}"></button>
                                            </form>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

