<div th:fragment="passengers" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-xxl">
        <div class="row">
            <div class="col-3">
                <th:block
                        th:include="fragment/passengerCard.html::passengerCard">
                </th:block>
            </div>

            <div class="col">
                <table class="table table-striped">
                    <div class="row mt-3">
                        <tr>
                            <th>№</th>
                            <th th:text="#{admin.passengers.label.name}"></th>
                            <th th:text="#{admin.passengers.label.surname}"></th>
                            <th th:text="#{admin.passengers.label.documentType}"></th>
                            <th th:text="#{admin.passengers.label.documentSeries}"></th>
                            <th th:text="#{admin.passengers.label.receipts}"></th>
                        </tr>
                        <div th:each="passenger,state: ${response.getPassengerDTOList()}">
                            <tr>
                                <td>
                                    <p th:text="${state.index + 1}"></p>
                                </td>
                                <td>
                                    <p th:text="${passenger.getName()}"></p>
                                </td>
                                <td>
                                    <p th:text="${passenger.getSurname()}"></p>
                                </td>
                                <td>
                                    <p th:text="${passenger.getDocumentType().getType().getDisplayName()}"></p>
                                </td>
                                <td>
                                    <p th:text="${passenger.getDocumentSeries()}"></p>
                                </td>
                                <td>
                                    <form th:method="GET" th:action="@{/passenger/__${passenger.getId()}__/print}">
                                        <button class="btn btn-outline-primary" type="submit" th:text="#{admin.passengers.button.open}"></button>
                                        <br>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>