<th:block th:if="${generate}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-xxl">
        <div class="card border-dark mb-3 mt-2" style="max-width: 18rem;padding-right: 0px;padding-left: 0px;">
            <div class="card-header">Hash generator</div>
            <div class="card-body text-dark">
                <label for="hash" class="form-label mt-1" text="Generated hash"></label>
                <input class="form-control" id="hash" type="text" th:value="${pass}" style="width: 708px;">
            </div>
        </div>
    </div>
</th:block>