<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Train Station</title>
</head>
<body>

<th:block th:if="${home}">
    <form th:method="GET" action="/home/passengers">
        <h3>Some home page</h3>
        <p>Greeting</p>
        <img src="..\Pictures\train.jpg" alt="*train picture*">
        <input value="Open passengers" type="submit"/>
    </form>
</th:block>

<th:block th:if="${passengers}">
    <h3>All passengers</h3>
    <table>
        <div th:each="passenger: ${response.getPassengerDTOList()}">
            <form th:method="GET"
                  th:action="@{/passenger/__${passenger.getId()}__/print}">
                <tr>
                    <td><input value="Open" type="submit"/></td>
                    <td><p th:text="${passenger.toString()}"></p></td>
                </tr>
            </form>
        </div>
    </table>
</th:block>

<th:block th:if="${edit}">
    <h3>Alteration</h3>
    <h4>Passenger:</h4>
    <p th:text="${response.getPassengerDTO().toString()}">
    <h4>Payments:</h4>
    <div th:if="${not response.getPaymentDTOList().isEmpty or
         not response.getDeletedPaymentDTOList().isEmpty()}">
        <table border="1">
            <tr>
                <th>Active:</th>
                <th>Deleted:</th>
            </tr>
            <tr>
                <td>
                    <div th:each="payment: ${response.getPaymentDTOList()}">
                        <form th:method="GET"
                              th:action="@{payment/__${payment.getId()}__/delete}">
                            <p th:text="${payment.toString()}"></p>
                            <input type="submit" value="Delete"/>
                        </form>
                    </div>
                </td>
                <td>
                    <div th:each="payment: ${response.getDeletedPaymentDTOList()}">
                        <form th:method="GET"
                              th:action="@{payment/__${payment.getId()}__/restore}">
                            <p th:text="${payment.toString()}"></p>
                            <input type="submit" value="Restore"/>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${response.getPaymentDTOList().isEmpty and
         response.getDeletedPaymentDTOList().isEmpty()}">
        <p>There is no checks</p>
    </div>
        <form th:method="GET"
              th:action="return">
            <input type="submit" value="Return to all passengers"/>
        </form>
</th:block>
</body>
</html>